<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		"
>
	<bean class="controller.member.MemberController"/>
	<bean class="service.member.MemberJoinService" id="memberJoinService"/>
	<bean class="repository.member.MemberRepository" id="memberRepository"/>
	<bean class="controller.MailService" id="mailService"/>
	<bean id="authService" class="service.auth.AuthService" />
</beans>