<?xml version="1.0" encoding="UTF-8"?>
<!-- member만 관리하는 객체조립기 -->
<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
      http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans.xsd
      ">
	<bean id="memberController" class="controller.member.MemberController" />
	<bean id="memberJoinService" class="service.member.MemberJoinService" />
	<bean id="memberRepository" class="repository.member.MemberRepository" />
	<bean id="mailService" class="controller.MailService"/>
	<bean id="authService" class="service.auth.AuthService" />
</beans>