<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
      http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans.xsd
      ">
	<bean class="controller.board.BoardController" />
	<bean id="boardWriteService" class="service.board.BoardWriteService" />
	<bean id="boardRepository" class="repository.board.BoardRepository" />
	<bean id="boardListService" class="service.board.BoardListService" />
	<bean id="boardInfoService" class="service.board.BoardInfoService" />
	<bean id="boardModifyService" class="service.board.BoardModifyService" />
	<bean id="boardDeleteService" class="service.board.BoardDeleteService" />
	
</beans>