<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.edit.memberEditMapper">
<sql id="baseColumn">
	user_id,user_pw,user_name,user_birth,user_gender,user_email,user_addr,user_ph1,user_ph2,interest,user_regist,chk_ok
</sql>
<!-- 생성자 -->
<!-- idArg : pk, Arg: 일반속성 -->
<resultMap type="mem" id="baseMember">
	<constructor>
		<idArg column="user_Id" javaType="string" />
		<arg column="user_pw" javaType="string" />
		<arg column="user_name" javaType="string" />
		<arg column="user_gender" javaType="string" />
		<arg column="user_birth" javaType="java.sql.Timestamp" />
		<arg column="user_ph1" javaType="string" />
		<arg column="user_ph2" javaType="string" />
		<arg column="user_addr" javaType="string" />
		<arg column="interest" javaType="string" />
		<arg column="user_regist" javaType="java.sql.Timestamp" />
		<arg column="user_email" javaType="string" />
		<arg column="chk_ok" javaType="string" />
	</constructor>
</resultMap>
<select id="selectMember" resultMap="baseMember">
	select <include refid="baseColumn" />
	from member
	order by user_regist desc
</select>
<select id="selectCount" resultType="int">
	select count(*) from member
</select>
</mapper>