<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.member.memberMapper">
<sql id="baseColumn">
	user_id,user_pw,user_name,user_birth,user_gender,user_email,user_addr,user_ph1,user_ph2,interest,user_regist,chk_ok
</sql>
<insert id="memberInsert" parameterType="mem">
	insert into member ( <include refid="baseColumn" /> )
	values(#{userId},#{userPw},#{userName},#{userBirth},#{userGender},#{userEmail},#{userAddr},#{userPh1},#{userPh2},#{interest},sysdate, null)
</insert>
<update id="joinOkUpdate" parameterType="mem">
	update member
	set chk_ok = #{chkOk}
	where user_id = #{userId} and user_email = #{userEmail} and chk_ok is null
</update>
<resultMap type="mem" id="resultBase">
	<id column="user_Id"  jdbcType="VARCHAR" property="userId"/>
   <result column="USER_PW" jdbcType="VARCHAR" property="userPw"/>
   <result column="USER_NAME" jdbcType="VARCHAR" property="userName"/>
   <result column="USER_BIRTH" jdbcType="TIMESTAMP" property="userBirth"/>
   <result column="USER_GENDER" jdbcType="VARCHAR" property="userGender"/>
   <result column="USER_EMAIL" jdbcType="VARCHAR" property="userEmail"/>
   <result column="USER_ADDR" jdbcType="VARCHAR" property="userAddr"/>
   <result column="USER_PH1" jdbcType="VARCHAR" property="userPh1"/>
   <result column="USER_PH2" jdbcType="VARCHAR" property="userPh2"/>
   <result column="USER_REGIST" jdbcType="TIMESTAMP" property="userRegist"/>
   <result column="CHK_OK" jdbcType="VARCHAR" property="chkOk"/>
</resultMap>
<!-- select로 두가지 가능(전부 선택 또는 하나만 선택) -->
<select id="selectMember" parameterType="mem" resultMap="resultBase">
	select <include refid="baseColumn" />
	from member
	<trim prefix="where" prefixOverrides="AND | OR">
		<if test="userId != null">
			and user_id = #{userId}
		</if>
	</trim>
</select>
</mapper>