<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.member.memberEditMapper">
	<sql id="baseColumn">
		user_id,user_pw,user_name,user_birth,user_gender,user_email,user_addr,user_ph1,user_ph2,interest,user_regist,chk_ok
	</sql>
	<resultMap type="mem" id="baseMap">
		<constructor>
			<idArg column="user_Id" javaType="String" />
			<arg column="user_pw" javaType="String" />
			<arg column="user_name" javaType="String" />
			<arg column="user_gender" javaType="String" />
			<arg column="user_birth" javaType="java.sql.Timestamp" />
			<arg column="user_ph1" javaType="String" />
			<arg column="user_ph2" javaType="String" />
			<arg column="user_addr" javaType="String" />
			<arg column="interest" javaType="String" />
			<arg column="user_regist" javaType="java.sql.Timestamp" />
			<arg column="user_email" javaType="String" />
			<arg column="chk_ok" javaType="String" />
		</constructor>
	</resultMap>
	<select id="getMemberList" resultMap="baseMap" parameterType="mem">
		select *
		from
		(select ROWNUM RN, <include refid="baseColumn" />
		from
		(select <include refid="baseColumn" /> from member order by user_regist DESC))
		<trim prefix="where" prefixOverrides="AND | OR">
			<if test="startEndPageDTO != null">
				RN between #{startEndPageDTO.startDataNum} and #{startEndPageDTO.endDateNum}
			</if>
		</trim>
	</select>
	<select id="getMemberCount" resultType="int">
		select count(*) from
		member
	</select>
	<delete id="deleteMember" parameterType="string">
		delete from member where user_id = #{userId}
	</delete>
</mapper>